html,
body {
  height: 100%;
  font-family: arial;
  color: white;
}

.container {
  margin: 15px;
  position: relative;
  top: 70px;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
