html,
body {
  height: 100%;
  font-family: arial;
  color: white;
}

.layout {
  display: flex;
  flex-direction: column;
}

.container {
  color: black;
  min-height: 1000px;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.title {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: black;
  margin: 2rem;
}
.firt_name {
  color: beige;
  margin-right: 13%;
}
