@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.Header {
  width: 100%;
  height: 70px;
  background-color: #293241;
  text-transform: uppercase;
  font-weight: bold;
}

.Header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 25px;
  font-family: "Playfair Display", serif;
}

.Header nav a {
  font-size: 1rem;
  color: white;
}

.Header nav a:hover {
  color: #98c1d9;
  transition: all 0.5s;
}
